body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:#000033;
   }

   .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #008cba;
    color: white;
  }
  
  .TradeForm {
    position: relative;
    text-align: center;
    color: white;
  }

  .Form {
    position: absolute;
    top: 45%;
    left: 45%;
    transform: translate(-50%, -50%);
    font-weight:bold;
    font-size:60px;
  }

  .content {
    position: absolute;
    top: 100%;
    left: 20%;
  }

  .Stock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight:bold;
    font-size:60px;
  }

  .logo {
    position: absolute;
    height:120px;
    width:240px;
    bottom: 40px;
    right: 20px;
  }
  
  
  .content .TradeInfo {
    position: absolute;
    left: 10%;
    display: inline-block;
    padding: 15px 25px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color:#008CBA ;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .content .TradeInfo:hover {background-color: #000033;}
  
  .content .TradeInfo:active {
    background-color:#000033;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .content .TradeInfo1 {
    position: absolute;
    left: 50%;
    display: inline-block;
    padding: 15px 25px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color:#008CBA ;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .content .TradeInfo1:hover {background-color: #000033;}
  
  .content .TradeInfo1:active {
    background-color:#000033;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .content .TradeInfo2 {
    position: absolute;
    left: 90%;
    display: inline-block;
    padding: 15px 25px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color:#008CBA ;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .content .TradeInfo2:hover {background-color: #000033;}
  
  .content .TradeInfo2:active {
    background-color:#000033;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  

  .btn-group .button {
    left: 90%;
    display: inline-block;
    padding: 15px 25px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color:#008CBA ;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    /*
    top: 50%;
    left: 90%;
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 20px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;*/
  }
  
  .btn-group .button:hover {
    background-color: #000033;
    /*
    background-color: #3e8e41;*/
  }

  .btn-group .button:active {
    background-color:#000033;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .btn-group .button1 {
    left: 90%;
    display: inline-block;
    padding: 15px 25px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color:#008CBA ;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    /*
    top: 50%;
    left: 90%;
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 20px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;*/
  }
  
  .btn-group .button1:hover {
    background-color: #000033;
    /*
    background-color: #3e8e41;*/
  }

  .btn-group .button1:active {
    background-color:#000033;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .btn-group .button2 {
    left: 90%;
    display: inline-block;
    padding: 15px 25px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color:#008CBA ;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    /*
    top: 50%;
    left: 90%;
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 20px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;*/
  }
  
  .btn-group .button2:hover {
    background-color: #000033;
    /*
    background-color: #3e8e41;*/
  }

  .btn-group .button2:active {
    background-color:#000033;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .btn-group .button3 {
    left: 90%;
    display: inline-block;
    padding: 15px 25px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color:#008CBA ;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    /*
    top: 50%;
    left: 90%;
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 20px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;*/
  }
  
  .btn-group .button3:hover {
    background-color: #000033;
    /*
    background-color: #3e8e41;*/
  }

  .btn-group .button3:active {
    background-color:#000033;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }






