body{/*margin:0px;
     padding:0px;
     background-image:url("stocks-market.jpg");
     background-size:100% 100%;
     */
     font-family: Arial, Helvetica, sans-serif;
     background-color: #000033;
    }

.login_signup button{
    background-color:#C0C0C0; /* Green background */
    border: 1px solid#008CBA; /* Green border */
    color:  black;/* White text */
    padding: 16px 32px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    margin:auto;
    top: 50%;
    left: 50%;
  }
  
  .login_signup button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }
  
  /* Clear floats (clearfix hack) */
  .login_signup button:after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Add a background color on hover */
  .login_signup button:hover {
    background-color: #008CBA;
  }

  .pattern {
    position: relative;
    text-align: center;
    color: white;
  }

  .centered {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight:bold;
    font-size:60px;
  }

  /*.pattern .btn {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  
  .pattern .btn:hover {
    background-color: black;
  }*/

  .pattern .btn {
    position: absolute;
    top: 50%;
    left: 45%;
    /*transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);*/
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color:#008CBA ;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .pattern .btn:hover {background-color: #000033;}
  
  .pattern .btn:active {
    background-color:#000033;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #008cba;
    color: white;
  }
  
  .logo {
    position: absolute;
    height:120px;
    width:240px;
    bottom: 40px;
    right: 20px;
  }

